body {
    background-color: #66a9bc;
}
#content {
    background-color: #58437a;
    padding: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
h1 {
    font-family: helvetica;
    color: #66a9bc;
    font-size: 23px;
}
p {
    font-family: lucida sans;
    text-indent: 25px;
    color: #00aca1;
}
